// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

// Home row mods macro
//#define HRML(k1,k2,k3,k4) &ht LSHFT k1  &ht LALT k2  &ht LCTRL k3  &ht LGUI k4
//#define HRMR(k1,k2,k3,k4) &ht RGUI k1  &ht RCTRL k2  &ht RALT k3  &ht RSHFT k4
#include <dt-bindings/zmk/outputs.h>


/ {
    macros {
        cd1: cd1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp N1>,
                <&macro_release>,
                <&kp LALT>;
        };

        cd2: cd2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp N2>,
                <&macro_release>,
                <&kp LALT>;
        };

        cd3: cd3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp N3>,
                <&macro_release>,
                <&kp LALT>;

            label = "CD3";
        };

        cd4: cd4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp N4>,
                <&macro_release>,
                <&kp LALT>;

            label = "CD4";
        };

        cd5: cd5 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp N5>,
                <&macro_release>,
                <&kp LALT>;

            label = "CD5";
        };
    };

    behaviors {
        bhm: balanced_homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <180>;    // <---[[moderate duration]]
            quick-tap-ms = <0>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q              &kp W            &kp E                &kp R        &kp T              &kp Y        &kp U        &kp I         &kp O        &kp P
&bhm LEFT_SHIFT A  &bhm LEFT_ALT S  &bhm LEFT_CONTROL D  &bhm LGUI F  &kp G              &kp H        &bhm RGUI J  &bhm RCTRL K  &bhm RALT L  &bhm RSHFT SEMICOLON
&kp Z              &kp X            &kp C                &kp V        &kp B              &kp N        &kp M        &kp COMMA     &kp DOT      &kp FSLH
                                                         &mo 1        &lt 2 BACKSPACE    &lt 3 SPACE  &mo 4
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&cd1    &cd2    &cd3    &cd4    &cd5      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans  &trans
            >;
        };

        layer_2 {
            bindings = <
&kp LS(EXCL)  &kp LS(AT)  &kp LS(POUND)  &kp LS(DLLR)  &kp LS(PRCNT)    &kp LS(NUMBER_6)  &kp LS(AMPS)  &kp LS(STAR)  &kp DOUBLE_QUOTES  &kp SINGLE_QUOTE
&kp N1        &kp N2      &kp N3         &kp N4        &kp N5           &kp N6            &kp N7        &kp N8        &kp N9             &kp N0
&trans        &trans      &trans         &trans        &trans           &trans            &trans        &trans        &trans             &trans
                                         &trans        &trans           &trans            &trans
            >;
        };

        layer_3 {
            bindings = <
&kp TILDE  &kp MINUS       &kp UNDER         &kp SQT               &trans    &trans  &kp DOUBLE_QUOTES      &kp EQUAL          &kp PLUS         &kp PIPE
&kp GRAVE  &kp LEFT_BRACE  &kp LEFT_BRACKET  &kp LEFT_PARENTHESIS  &trans    &trans  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACKET  &kp RIGHT_BRACE  &kp BACKSLASH
&trans     &trans          &trans            &trans                &trans    &trans  &trans                 &trans             &trans           &trans
                                             &trans                &trans    &trans  &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &kp HOME        &kp PAGE_DOWN      &kp PAGE_UP      &kp END     &trans
&trans  &trans  &trans  &trans  &trans    &kp LEFT        &kp DOWN           &kp UP           &kp RIGHT   &kp LG(LC(LA(M)))
&trans  &trans  &trans  &trans  &trans    &kp C_PREVIOUS  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp C_NEXT  &kp C_PLAY_PAUSE
                        &trans  &trans    &trans          &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans  &trans
            >;
        };
    };
};
